@using SAFERUN.IMS.Web.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginViewLayout.cshtml";
    ViewBag.Title = "Log in";
}

<div class="login-container active">
    <a href="./"><img width="100" height="30" src="~/images/logo-login@2x.png" /></a>
    <form action="/Account/Login" method="post">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <input class="form-control" id="UserName" name="UserName" placeholder="用户名" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" id="Password" name="Password" placeholder="密码" type="password"><input type="submit" value="&#xf054;">
        </div>
        <div class="form-options clearfix">

            <div class="text-left">
                @*@Html.CheckBoxFor(m => m.RememberMe)*@
                <label class="checkbox"><input type="checkbox" id="RememberMe" name="RememberMe" value="true"><span>自动登录</span></label>
            </div>
        </div>
    </form>

    <p class="signup">
        还没有账号？<a href="/Account/Register">立即注册</a>
    </p>
</div>
 
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}