@{
    ViewBag.Title = "Dashboard";
}

 
<div class="row">
    <div class="col-lg-12">
        <div class="widget-container stats-container">
            <div class="col-md-3">
                <div class="number">
                    <div class="icon-check"></div>
                    <span id="num1">0</span><small>%</small>
                </div>
                <div class="text">
                    订单完成量
                </div>
            </div>
            <div class="col-md-3">
                <div class="number">
                    <div class="icon-flag"></div>
                    <span id="num2">0</span><small>%</small>
                </div>
                <div class="text">
                    委外工单完成量
                </div>
            </div>
            <div class="col-md-3">
                <div class="number">
                    <div class="icon-cogs"></div>
                    <span id="num3">0</span><small>%</small>
                </div>
                <div class="text">
                   机台开工率
                </div>
            </div>
            <div class="col-md-3">
                <div class="number">
                    <div class="icon-exclamation-sign"></div>
                    <span id="num4">0</span>
                </div>
                <div class="text">
                    未解决异常
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Pie Graph 1 -->
    <div class="col-lg-5">
        <div class="widget-container fluid-height">
            <div class="heading">
                <i class="icon-bar-chart"></i>任务进度控制
            </div>
            <div class="widget-content clearfix">
                <div class="col-sm-6">
                    <div class="pie-chart1 pie-chart pie-number" data-percent="0">
                        开工进度完成 87%
                    </div>
                    <div class="heading center"></div>
                </div>
                <div class="col-sm-6">
                    <div class="pie-chart2 pie-chart pie-number" data-percent="0">
                        生产不良率 16%
                    </div>
                    <div class="heading center"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="widget-container fluid-height">
            <div class="graph-container">
                <div class="caption"></div>
                <div class="graph" id="hero-area"></div>
            </div>
        </div>
    </div>
    <!-- End Pie Graph 1 -->
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            //create instance
           
            //update instance after 5 sec
            setTimeout(function () {
                $('#num1').animateNumber({ number: Math.random() * 100 });
                $('#num2').animateNumber({ number: Math.random() * 100 });
                $('#num3').animateNumber({ number: Math.random() * 100 });
                $('#num4').animateNumber({ number: Math.random() * 100 });
                $(".pie-chart1").data('easyPieChart').update(87);
                $(".pie-chart2").data('easyPieChart').update(16);
            }, 3000);
        });
    </script>
}